.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin-right: 16px;
  margin-bottom: 32px;
}

.book__cover {
  width: 160px;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 8px;
  background-color: gainsboro;
}

.book__cover img {
  width: 160px;
  height: 220px;
}

.book__title {
  font-size: 22px;
  font-weight: 450;
  margin-bottom: 4px;
}

.book__author {
  font-size: 16px;
  font-weight: 300;
}